<div class = "col" style="padding: 20px 5px 5px 5px;">
	<div class="card shadow " style="width: 18rem;">
		<h4 class = "card-header"> Name </h4>
		<div class = "card-header"> 
			<i class="fas fa-mug-hot"></i>
			<h4> Name </h4>
		</div>
		<div class = "card-body"> 
			<ul class="list-group list-group-flush">
				<li class="list-group-item">
					<span> 
						<p>ID:</p>
						<p>id</p>
					</span>
				</li>
				<li class="list-group-item">											
					<span> 
						<p>Email:</p>
						<a href = "test@gmail.com">test@gmail.com</a>
					</span>
				</li>
				<li class="list-group-item">											
					<span> 
						<p>Variable :</p>
						<p>test</p>
					</span>
				</li>
			</ul>
		</div>
	</div>
</div>


